ion-view(title="Invitation")#documents
	
	ion-content 

		h1 Documents

		.document
			.name Carte d'identité
			.description
			.action
				button Télécharger votre Carte d'identité

		.document
			.name Kbis
			.description
			.action
				button Télécharger votre Kbis

		.document
			.name Photo de profil
			.description
			.action
				button Télécharger votre photo 

		.finaly
			.action
				button(ng-click="verify()") Verfier mon compte