ion-view(title="Invitation")#sponsorship
	
	ion-content 

		.sponsorship-container
			.email
				input(
					type="email"
					ng-model="email"
				)
				
			.action
				button(ng-click="sponsorship(email)") Invite friend

			

	

		
