#marker-monument(ng-click="onClick($event)")
	#item-reserve-free-shooting
		img(ng-src="{{api}}/api/Buckets/picstreet-location/download/{{monument.picture}}")
		.name {{monument.name}}
	#item-current-location-bar
		img(src="img/svg/location-bar.svg")
						
