#marker-photographer(ng-click="onClick($event)")
	img(src="img/svg/photographer.svg")
	#item-current-location-bar
		img(src="img/svg/photographe-bar.svg")
	#item-current-location
		.sonar-location
			img(src="img/svg/photographer-location.svg")
			.sonar-wave
						

//- #marker-monument
//- 	#item-reserve-free-shooting
//- 		img(ng-src="{{api}}/api/Buckets/picstreet-location/download/{{monument.picture}}")
//- 		.name {{monument.name}}
//- 	#item-current-location-bar
//- 		img(src="img/svg/location-bar.svg")
						
