.menu
	ul.nav.nav-pills
		li(
			ng-repeat="tab in tabs track by $index"
			ng-click="updateCurrentTab($index)"
			ng-class="{active: currentTab == $index}"
		) 
			a {{ tab.name }}

.transclude(ng-transclude)