ion-view(title="Photographers")#photographers

	ion-content.photographers-content

		section.photographer(
			ng-repeat="photographer in photographers"
			ui-sref="authenticated.photographer({id:photographer.id})"
		) {{ photographer.email }}
